mixin button-outline(text, icon=false, name='primary')
    if (icon)
        -var className = 'btn-outline' + ' btn-outline_' + name
        button(class=className)
            i(class="material-icons")= text
    else
        -var className = 'btn-outline' + ' btn-outline_' + name
        button(class=className)= text