mixin clients()
    section.clients
        .clients__separator
        .clients__logos
            .clients__container
                object(data="/icons/adobe.svg", type="image/svg+xml")
            .clients__container
                object(data="/icons/hcl.svg", type="image/svg+xml")
            .clients__container
                object(data="/icons/infosys.svg", type="image/svg+xml")
            .clients__container
                object(data="/icons/invision.svg", type="image/svg+xml")
        .clients__logos
            .clients__container
                object(data="/icons/cisco.svg", type="image/svg+xml")
            .clients__container
                object(data="/icons/cisco.svg", type="image/svg+xml")
            .clients__container
                object(data="/icons/canva.svg", type="image/svg+xml")
            .clients__container
                object(data="/icons/instagram.svg", type="image/svg+xml")