@import "../../button-outline/button-outline.sass";
    
=offer()
    .offer
        position: relative
        margin: 10.5rem 19.5rem 0 19.5rem
        border-top: 1px solid rgba(255, 255, 255, 0.3)
        border-left: 1px solid rgba(255, 255, 255, 0.3)
        border-right: 1px solid rgba(255, 255, 255, 0.3)
        height: 15.5rem
        padding-top: 1rem

        &::before,
        &::after
            content: ''
            display: block
            position: absolute
            height: 0
            width: 16rem
            top: 100%
            border-bottom: 1px solid rgba(255, 255, 255, 0.3)

        &::before
           left: -1px

        &::after
           right: -1px  
            


        h1
            font-family: 'Sansation', sans-serif
            text-transform: uppercase
            font-size: 3.5em
            color: white
            text-align: center
            margin-bottom: 1.6rem
        p
            font-family: 'Sansation', sans-serif
            font-size: 0.8em
            line-height: 1.9em
            text-align: center
            color: white
            width: 30rem
            margin: 0 auto

        
    +btn-outline(9.2rem, 3rem, 2px)
    .btn-outline_primary
        position: absolute
        bottom: -1.5rem
        left: 17.75rem

    .btn-outline_left
        width: 2.4rem
        height: 2.8rem
        border: 2px solid rgba(255, 255, 255, 0.3)
        color: rgba(255, 255, 255, 0.3)
        position: absolute
        left: -16rem
        bottom: 5.35rem 
        font-size: 1em
        display: flex
        align-items: center

    .btn-outline_right
        width: 2.4rem
        height: 2.8rem
        border: 2px solid rgba(255, 255, 255, 0.3)
        color: rgba(255, 255, 255, 0.3)
        position: absolute
        right: -16rem
        bottom: 5.35rem 
        font-size: 1em
        display: flex
        align-items: center
            
