=btn($back: $green, $col: white, $width: 10rem, $height: 2rem)
    .btn
        background: $back
        border: none
        border-radius: 0.2rem
        font-family: 'NEOTERIC', 'Sansation', sans-serif
        font-weight: bold
        color: $col
        text-transform: uppercase
        width: $width
        height: $height
        cursor: pointer
        outline: none

        &:active
            background: $dark-grey