=section-about()
    .about-us
        display: flex

        &__image
            width: 42rem
            
        &__text
            h2
                position: relative
                font-family: 'Sansation', sans-serif
                text-transform: uppercase
                font-size: 2em
                color: $dark-grey
                font-style: normal
                letter-spacing: 0.22em
                word-spacing: 0.1rem
                margin-left: 3.7rem
                margin-top: 4rem
                padding-bottom: 0.5rem
                width: 33rem
                border-bottom: 2px solid $dark-grey

                &::before
                    content: ''
                    position: absolute
                    height: 0
                    width: 5.25rem
                    top: 98%
                    border-top: 1px solid $dark-grey



            p
                width: 20rem
            
