include ../button/button

mixin section-about()
    section(class="about-us")
        img(src="/img/write.png" class="about-us__image")

        .about-us__text
            h2 A little about us
            p We are company based in India with the motto "Digitalally Designed India". We are company based in India with the motto "Digitalally Designed India". We are company based in India with the motto "Digitalally Designed India".

            p We are company based in India with the motto "Digitalally Designed India". We are company based in India with the motto "Digitalally Designed India". We are company based in India with the motto "Digitalally Designed India". We are company based in India with the motto "Digitalally Designed India".
            +button('Read more details', 'about-us')