@import "./navbar/navbar.sass";

=header()
    .header
        background: url('/img/banner.jpg') no-repeat
        background-size: 100% 46.5rem 
        height: 46.5rem

        +navbar()


        
        
