=feedback()
    .feedback
        height: 24.5rem
        display: flex
        background: $light-grey

        &__description
            flex-grow: 2
            

            p
                position: relative
                font-family: 'Sansation', sans-serif
                color: white
                width: 20rem
                line-height: 1.4em
                text-align: center
                margin: 5.9rem auto
                font-size: 1.6em

                &::after
                    content: ''
                    position: absolute
                    border: 1px solid white
                    height: 0
                    width: 5rem
                    top: 118%
                    left: 38%

        &__workers
            flex-grow: 3
            display: flex
            
            justify-content: center