include ../button/button

mixin soc_link(src)
    .soc-wrapper
        img(src=src)


mixin footer()
    footer.footer
        .footer__links
            nav.footer__nav
                h3 Product
                a(href="#" class="footer__navlink") Cost&Governance
                a(href="#" class="footer__navlink") Security&Compliance
                a(href="#" class="footer__navlink") Product N
                a(href="#" class="footer__navlink") Pricing&Plans
            nav.footer__nav
                h3 Learn
                a(href="#" class="footer__navlink") Articles
                a(href="#" class="footer__navlink") Register a demo
                a(href="#" class="footer__navlink") Webinars
                a(href="#" class="footer__navlink") FAQs
            nav.footer__nav
                h3 Company
                a(href="#" class="footer__navlink") About
                a(href="#" class="footer__navlink") Careers
                a(href="#" class="footer__navlink") Partners
                a(href="#" class="footer__navlink") Contact
        .footer__subscribe
            .footer__input
                input(type="text" placeholder="Your email")
                +button('Subscribe', 'subscribe')
            .footer__social
                +soc_link('/icons/fb.png')
                +soc_link('/icons/tw.png')
                +soc_link('/icons/gp.png')
                +soc_link('/icons/behance.png')
                +soc_link('/icons/dribble.png')
                +soc_link('/icons/inst.png')
