extends layouts/base

include ./components/header/header
include ./components/section-about/section-about
include ./components/separator/separator
include ./components/service/service
include ./components/feedback/feedback
include ./components/section-clients/section-clients

block content
    +header()
    +section-about()
    +separator('Our services')
    section(class="services")
        +service()
        +service(true)
        +service()
    +separator('Feedback')
    +feedback()
    +separator('Clients', true)
    +clients()