extends layouts/base

include ./components/header/header
include ./components/section-about/section-about
include ./components/separator/separator

block content
    +header()
    +section-about()
    +separator('Our services')