@import "./libs/fonts.css";
@import "./libs/colors.sass";

@import "./components/header/header.sass";
@import "./components/section-about/section-about.sass";
@import "./components/separator/separator.sass";
@import "./components/service/service.sass";
@import "./components/feedback/feedback.sass";

body
    margin: 0
    padding: 0
    min-width: 1366px

    +header()
    +section-about()
    +separator($dark-grey)
    .services
        display: flex
        +service()
    +feedback()