mixin navlink(text)
    .navbar__navlink
        a(href="#")=text

mixin navbar()
    nav.navbar
        img(src="/img/logo.png" class="navbar__logo")

        .navbar__menu
            +navlink('Home')
            +navlink('About')
            +navlink('Services')
            +navlink('Portfolio')
            +navlink('Shop')
            +navlink('Contact')
            +navlink('Pages')

        .navbar__follow
            a(href="#" class="navbar__sociallink navbar__sociallink_fb")
            a(href="#" class="navbar__sociallink navbar__sociallink_tw")
            a(href="#" class="navbar__sociallink navbar__sociallink_gp")